In [1]:
import pandas as pd

In [13]:
train_df = pd.read_csv("../data/ml-1m/train.csv")
user_df = pd.read_csv("../data/ml-1m/users.csv")

In [14]:
train_user_df = pd.merge(train_df, user_df, on="user_id", how="inner")

In [24]:
train_size = 1700
female_df = train_user_df[train_user_df.gender == "F"][:train_size]
male_df = train_user_df[train_user_df.gender == "M"][:train_size]

In [30]:
new_train_df = pd.concat([female_df, male_df])[["user_id", "sequence"]]
new_train_df

      user_id                                           sequence
0           1  3408 2355 1197 1287 2804 594 919 595 938 2398 ...
5           6  2082 3600 3604 2802 3534 3536 1210 3753 3682 2...
9          10  3252 1721 3254 3255 2453 110 1580 1653 2529 16...
10         11  1753 1682 216 2997 1259 1188 2706 586 587 2639...
15         16  2987 2555 2629 1682 2485 2701 2568 3004 1269 2...
...       ...                                                ...
2335     2336  1408 1266 2401 1653 266 276 3836 1193 1196 119...
2336     2337  2302 3105 1370 1377 2321 1527 1393 2355 1573 1721
2337     2338  3363 1914 160 3384 318 2598 329 3551 1953 1954...
2339     2340  2792 2793 2794 2795 1994 1057 2797 1059 380 60...
2340     2341  2359 3160 3174 3175 1580 3185 2529 2530 2532 2533

[3400 rows x 2 columns]

In [31]:
new_train_df.to_csv("../data/ml-1m/equal-gender-train.csv")